openapi: 3.0.0
info:
  title: 'Public API'
  description: "\n<!-- theme: warning -->\n> #### Rate Limit\n> To prevent abuse, you should consider adding rate limiting to your APIs.\n> For example, you may want to limit the API usage of each project to be at most 100 API calls within a period of 1 minut. If too many requests are received from a project within the stated period of the time, a response with status code 429 (meaning \"Too Many Requests\") should be returned.\n>\n>\n> See headers for control number of requests:\n> * **X-Rate-Limit-Limit** - The maximum number of requests allowed with a time period.\n> * **X-Rate-Limit-Remaining** - The number of remaining requests in the current time period.\n> * **X-Rate-Limit-Reset** - The number of seconds to wait in order to get the maximum number of allowed requests.\n"
  version: 1.0.0
servers:
  -
    url: 'https://api.inappstory.ru/pub/v1'
paths:
  /event:
    get:
      tags:
        - Events
      summary: List
      description: 'List of all events'
      operationId: event-list
      parameters:
        -
          $ref: '#/components/parameters/Envelope'
        -
          $ref: '#/components/parameters/Page'
        -
          $ref: '#/components/parameters/PerPage'
        -
          $ref: '#/components/parameters/EventFields'
        -
          name: sort
          in: query
          schema:
            description: 'Result sorting'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - name
              - '-name'
              - title
              - '-title'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              $ref: '#/components/headers/X-Pagination-Total-Count'
            X-Pagination-Page-Count:
              $ref: '#/components/headers/X-Pagination-Page-Count'
            X-Pagination-Current-Page:
              $ref: '#/components/headers/X-Pagination-Current-Page'
            X-Pagination-Per-Page:
              $ref: '#/components/headers/X-Pagination-Per-Page'
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/event?page=2&sort=id>; rel=self, <https://api.inappstory.com/pub/v1/event?page=1&sort=id>; rel=first, <https://api.inappstory.com/pub/v1/event?page=7&sort=id>; rel=last, <https://api.inappstory.com/pub/v1/event?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/event?page=3&sort=id>; rel=next'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Events
      summary: Create
      operationId: event-create
      parameters:
        -
          $ref: '#/components/parameters/EventFields'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: 'A new event was not created because there is already a name with the same name'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '201':
          description: 'New event created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/event/{eventId}':
    get:
      tags:
        - Events
      summary: View
      operationId: event-view
      parameters:
        -
          name: eventId
          in: path
          required: true
          schema:
            description: 'Event unique id or name'
            type: number
            example: '1'
        -
          $ref: '#/components/parameters/EventFields'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Event not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Events
      summary: Delete
      operationId: event-delete
      parameters:
        -
          name: eventId
          in: path
          required: true
          schema:
            description: 'Event unique ID or name'
            type: number|string
            example: 1
      responses:
        '201':
          description: 'successful operation'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Event not found'
        '409':
          description: 'Used in stories, remove it from expressions and repeat'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    patch:
      tags:
        - Events
      summary: Update
      operationId: event-update
      parameters:
        -
          name: eventId
          in: path
          required: true
          schema:
            description: 'Event unique id or name'
            type: number|string
            example: 1
        -
          $ref: '#/components/parameters/EventFields'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '201':
          description: 'Сhanges saved successfully'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Event not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /feed:
    get:
      tags:
        - Feeds
      summary: List
      description: 'List of all feeds'
      operationId: feed-list
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - slug
                - type
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/tag?page=2&sort=id>; rel=self, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=first, <https://api.inappstory.com/pub/v1/tag?page=7&sort=id>; rel=last, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/tag?page=3&sort=id>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feed'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Feeds
      summary: Create
      operationId: feed-create
      parameters:
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - slug
                - type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feed'
      responses:
        '200':
          description: 'A new feed was not created because there is already a feed with the same name'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '201':
          description: 'New feed created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Feed not found'
        '409':
          description: 'The limit on the number feed has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/feed/{feedId}':
    get:
      tags:
        - Feeds
      summary: View
      operationId: feed-view
      parameters:
        -
          name: feedId
          in: path
          required: true
          schema:
            description: 'Feed unique ID'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Feed not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Feeds
      summary: 'Delete exists feed'
      operationId: feed-delete
      parameters:
        -
          name: feedId
          in: path
          required: true
          schema:
            description: 'Feed unique integer ID or slug'
            type: string
            example: feed1
      responses:
        '201':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Feed not found'
        '409':
          description: 'Used in stories, remove it from expressions and repeat'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    patch:
      tags:
        - Feeds
      summary: Update
      operationId: feed-uodate
      parameters:
        -
          name: feedId
          in: path
          required: true
          schema:
            description: 'Feed unique integer ID or slug'
            type: string
            example: feed1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - color
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feed'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '201':
          description: 'Сhanges saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feed'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Feed not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /info:
    get:
      tags:
        - Project
      summary: 'Get public information about project'
      description: 'Info about project'
      operationId: 056e5f7451e9b9548cf191eecb4e6541
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Info'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
        -
          bearerAuth: []
  /label:
    get:
      tags:
        - Labels
      summary: List
      description: 'List of all labels'
      operationId: label-list
      parameters:
        -
          $ref: '#/components/parameters/Envelope'
        -
          $ref: '#/components/parameters/Page'
        -
          $ref: '#/components/parameters/PerPage'
        -
          $ref: '#/components/parameters/LabelFields'
      responses:
        '200':
          description: 'Success operation'
          headers:
            X-Pagination-Total-Count:
              $ref: '#/components/headers/X-Pagination-Total-Count'
            X-Pagination-Page-Count:
              $ref: '#/components/headers/X-Pagination-Page-Count'
            X-Pagination-Current-Page:
              $ref: '#/components/headers/X-Pagination-Current-Page'
            X-Pagination-Per-Page:
              $ref: '#/components/headers/X-Pagination-Per-Page'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/label?page=2&sort=id>; rel=self, <https://api.inappstory.com/pub/v1/label?page=1&sort=id>; rel=first, <https://api.inappstory.com/pub/v1/label?page=7&sort=id>; rel=last, <https://api.inappstory.com/pub/v1/label?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/label?page=3&sort=id>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Label'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Labels
      summary: Create
      operationId: label-create
      parameters:
        -
          $ref: '#/components/parameters/LabelFields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        '200':
          description: 'A new label was not created because there is already a label with the same name'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '201':
          description: 'New label created'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Label not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/label/{labelId}':
    get:
      tags:
        - Labels
      summary: View
      operationId: label-view
      parameters:
        -
          $ref: '#/components/parameters/LabelId'
        -
          $ref: '#/components/parameters/LabelFields'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Label not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Labels
      summary: Delete
      operationId: label-delete
      parameters:
        -
          $ref: '#/components/parameters/LabelId'
      responses:
        '201':
          description: 'successful operation'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Label not found'
        '409':
          description: 'Used in stories, remove it from expressions and repeat'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    patch:
      tags:
        - Labels
      summary: Update
      operationId: label-update
      parameters:
        -
          $ref: '#/components/parameters/LabelFields'
        -
          $ref: '#/components/parameters/LabelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '201':
          description: 'Сhanges saved successfully'
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Label not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /placeholder:
    get:
      tags:
        - Placeholders
      summary: 'List exists placeholders'
      operationId: f62fae2d1505d50ad6c877542379f030
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - type
                - defaultValue
        -
          name: sort
          in: query
          schema:
            description: 'Result sorting'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - name
              - '-name'
              - defaultValue
              - '-defaultValue'
        -
          name: type
          in: query
          style: simple
          explode: false
          schema:
            description: 'Filter by type'
            type: array
            items:
              type: string
              enum:
                - 0
                - 1
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/placeholder/1/user?page=2>; rel=self, <https://api.inappstory.com/pub/v1/placeholder/1/user?page=1>; rel=first, <https://api.inappstory.com/pub/v1/placeholder/1/user?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/placeholder/1/user?page=3>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Placeholder'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Placeholders
      summary: 'Create new placeholder'
      operationId: ebcbf1b9da9018fd729f77658cb5957d
      parameters:
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - type
                - defaultValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Placeholder'
      responses:
        '200':
          description: 'A new placeholder was not created because there is already a placeholder with the same name'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placeholder'
        '201':
          description: 'New placeholder created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placeholder'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Placeholder not found'
        '409':
          description: 'The limit on the number placeholder has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/placeholder/{placeholderId}':
    get:
      tags:
        - Placeholders
      summary: 'View exists placeholder'
      operationId: bca40605271c51c6000faacd61e69a93
      parameters:
        -
          name: placeholderId
          in: path
          required: true
          schema:
            description: 'Placeholder unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - type
                - defaultValue
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placeholder'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Placeholder not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    put:
      tags:
        - Placeholders
      summary: 'Update exists placeholder'
      operationId: 0f9d83deac241d12adffe5019a433a39
      parameters:
        -
          name: placeholderId
          in: path
          required: true
          schema:
            description: 'Placeholder unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - type
                - defaultValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Placeholder'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placeholder'
        '201':
          description: 'Сhanges saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Placeholder'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Placeholder not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Placeholders
      summary: 'Delete exists placeholder'
      operationId: 879ecee1c4b8349d3898c059e2ceda8b
      parameters:
        -
          name: placeholderId
          in: path
          required: true
          schema:
            description: 'Placeholder unique id'
            type: number
            example: '1'
      responses:
        '201':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Placeholder not found'
        '409':
          description: 'Used in stories, remove it from expressions and repeat'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /promo-code:
    get:
      tags:
        - 'Promo codes'
      summary: 'List exists promotion codes'
      operationId: 1c935ddab40c9a50597fa7f1841680e4
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
        -
          name: sort
          in: query
          schema:
            description: 'Result sorting'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - name
              - '-name'
              - usedCount
              - '-usedCount'
              - totalCount
              - '-userCount'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/segment/1/user?page=2>; rel=self, <https://api.inappstory.com/pub/v1/segment/1/user?page=1>; rel=first, <https://api.inappstory.com/pub/v1/segment/1/user?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/segment/1/user?page=3>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromoCode'
        '401':
          description: 'Authorization required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'You do not have permission to access this resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - 'Promo codes'
      summary: 'Create new promotion code'
      operationId: 9bc894af1e4c164491734b6e2f6b0228
      parameters:
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - usedCount
                - totalCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '201':
          description: 'New promotion code created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '400':
          description: 'Bad request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Authorization required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'You do not have permission to access this resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Segment not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 'The limit on the number promotion code has been exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}':
    get:
      tags:
        - 'Promo codes'
      summary: 'View exists promotion code'
      operationId: d7d2d68ffdffc8af4c5ef49bab2f9b6b
      parameters:
        -
          name: promoCodeId
          in: path
          required: true
          schema:
            description: 'Promotion code unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - usedCount
                - totalCount
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '401':
          description: 'Authorization required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'You do not have permission to access this resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Promotion code not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    put:
      tags:
        - 'Promo codes'
      summary: 'Update exists promotion code'
      operationId: 9ef345a279d110be446c3e601e9ecfb8
      parameters:
        -
          name: promoCodeId
          in: path
          required: true
          schema:
            description: 'Promotion code unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - usedCount
                - totalCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '201':
          description: 'Сhanges saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '400':
          description: 'Bad rquest'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 'Authorization required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'You do not have permission to access this resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Promotion code not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - 'Promo codes'
      summary: 'Delete exists promotion code and all variants for him'
      operationId: 7b3feee613732ad9942c4f5c926ef2bc
      parameters:
        -
          name: promoCodeId
          in: path
          required: true
          schema:
            description: 'Promotion code unique id'
            type: number
            example: '1'
      responses:
        '201':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'You do not have permission to access this resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Promotion code not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}/variant':
    get:
      tags:
        - 'Promo codes'
      summary: 'List variants into promotion code'
      operationId: 3200d59da93c65c6568c7a8878f24162
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - code
                - usedAt
                - userId
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/segment?page=2>; rel=self, <https://api.inappstory.com/pub/v1/segment?page=1>; rel=first, <https://api.inappstory.com/pub/v1/segment?page=1>; rel=prev, <https://api.inappstory.com/pub/v1/segment?page=3>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromoCodeVariant'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}/varinat':
    post:
      tags:
        - 'Promo codes'
      summary: 'Create varinat for promotion code'
      operationId: d5c53bcce29aaddfe1f23260104b7596
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Unique promotion code id'
            type: number
            example: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeVariant'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeVariant'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '409':
          description: 'The limit for entries inside the promo code has been exhausted'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}/varinat/{code}':
    get:
      tags:
        - 'Promo codes'
      summary: 'View variant for promotion code'
      operationId: e022452252fcb49dd1ba66a164720172
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Unique promotion code id'
            type: number
            example: 1
        -
          name: code
          in: path
          schema:
            description: 'Unique promotion code varinat value, case insensitive'
            type: string
            example: varinat1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeVariant'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - 'Promo codes'
      summary: 'Delete varinat from promotion code'
      operationId: 01803d018b40bfd49c8032b775965d3e
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Unique promotion code id'
            type: number
            example: 1
        -
          name: code
          in: path
          schema:
            description: 'Unique promotion code varinat value, case insensitive'
            type: string
            example: varinat1
        -
          name: force
          in: query
          schema:
            description: 'Delete used codes'
            type: boolean
            example: true
      responses:
        '200':
          description: 'Varinat deleted success into promotion code'
        '201':
          description: 'Varinat deleted success into promotion code'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '409':
          description: 'Varinat used is can`t deleted, use force parameter in need'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}/varinat-batch-insert':
    put:
      tags:
        - 'Promo codes'
      summary: 'Add batch varinat for promocode'
      operationId: cb72b73a4a3253e8f078b578dc8d720a
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Unique promotion code id'
            type: number
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: 'Unique variant of the promotion code, case insensitive'
                type: string
                maxLength: 50
                minLength: 1
              maxItems: 1000
              minItems: 1
      responses:
        '200':
          description: 'Variants were not added to the promotion code, as everything is already there'
          content:
            application/json:
              schema:
                type: object
        '201':
          description: 'Variants insert success into promotion code'
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found'
        '409':
          description: 'The limit on the number of variants in the promotion code has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/promo-code/{promoCodeId}/varinat-batch-delete':
    put:
      tags:
        - 'Promo codes'
      summary: 'Variant batch delete from promo code'
      operationId: d2a0775f86c2a4346578931a800b9304
      parameters:
        -
          name: promoCodeId
          in: path
          schema:
            description: 'Unique promotion code id'
            type: number
            example: 1
        -
          name: force
          in: query
          schema:
            description: 'Delete used codes'
            type: boolean
            example: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: 'Unique variant of the promotion code, case insensitive'
                type: string
                maxLength: 50
                minLength: 1
              maxItems: 1000
              minItems: 1
      responses:
        '200':
          description: 'Varinats were not deleted from the promotion code, since they are not'
        '201':
          description: 'Varinats delete success from promotion code'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /segment:
    get:
      tags:
        - Segments
      summary: 'List exists segments'
      operationId: fa841a491f6a42eab8c66bfe4b41b1b9
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
        -
          name: sort
          in: query
          schema:
            description: 'Result sorting'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - name
              - '-name'
              - userCount
              - '-userCount'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/segment/1/user?page=2>; rel=self, <https://api.inappstory.com/pub/v1/segment/1/user?page=1>; rel=first, <https://api.inappstory.com/pub/v1/segment/1/user?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/segment/1/user?page=3>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segment'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Segments
      summary: 'Create new segment'
      operationId: 661ba43446949cee28539ba7d74533c6
      parameters:
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
      responses:
        '200':
          description: 'A new segment was not created because there is already a segment with the same name'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '201':
          description: 'New segment created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '409':
          description: 'The limit on the number segment has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/segment/{segmentId}':
    get:
      tags:
        - Segments
      summary: 'View exists segment'
      operationId: b0ef9e7b0db9fbe6b28cc3e73d1803d0
      parameters:
        -
          name: segmentId
          in: path
          required: true
          schema:
            description: 'Segment unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    put:
      tags:
        - Segments
      summary: 'Update exists segment'
      operationId: 36d98536e0629b850f76d3eb51c730e3
      parameters:
        -
          name: segmentId
          in: path
          required: true
          schema:
            description: 'Segment unique id'
            type: number
            example: '1'
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - userCount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Segment'
      responses:
        '200':
          description: 'Data has not been changed, no saving required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '201':
          description: 'Сhanges saved successfully'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Segments
      summary: 'Delete exists segment'
      operationId: 6777f7ff1e6bbbfab78d632cab95d4e8
      parameters:
        -
          name: segmentId
          in: path
          required: true
          schema:
            description: 'Segment unique id'
            type: number
            example: '1'
      responses:
        '201':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '409':
          description: 'Used in stories, remove it from expressions and repeat'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/segment/{segmentId}/user':
    get:
      tags:
        - Segments
      summary: 'List users into segment'
      operationId: 10e88127d219da652111c87f164395fa
      parameters:
        -
          name: segmentId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 1000
            minimum: 1
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - userId
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/segment?page=2>; rel=self, <https://api.inappstory.com/pub/v1/segment?page=1>; rel=first, <https://api.inappstory.com/pub/v1/segment?page=1>; rel=prev, <https://api.inappstory.com/pub/v1/segment?page=3>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SegmentUser'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Segments
      summary: 'Add user into segment'
      operationId: 73b3cddcd7a7ecf21b6a7b0fb85f840f
      parameters:
        -
          name: segmentId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - userId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentUser'
      responses:
        '200':
          description: 'This user already exists inot segment, the data has not been changed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentUser'
        '201':
          description: 'This user careate as new'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentUser'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '409':
          description: 'The limit on the number of users in the segment has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/segment/{segmentId}/user/{userId}':
    get:
      tags:
        - Segments
      summary: 'View segment user'
      operationId: 0f59b18dc8532504028a05783715a7d1
      parameters:
        -
          name: segmentId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
        -
          name: userId
          in: path
          schema:
            description: "Unique user format on the partner's side in SDK user ID, case-sensitive"
            type: string
            example: test-user
        -
          name: fields
          in: query
          style: simple
          explode: false
          schema:
            description: 'Return only fields'
            type: array
            items:
              type: string
              enum:
                - userId
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SegmentUser'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Segments
      summary: 'Delete user from segment'
      operationId: b7e1ae363a147619070f0429b4d718af
      parameters:
        -
          name: userId
          in: path
          schema:
            description: "Unique user format on the partner's side in SDK user ID, case-sensitive"
            type: string
            example: test-user
      responses:
        '200':
          description: 'User deleted success into segment'
        '201':
          description: 'User deleted success into segment'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found. See response model field code, if 1 segment not found, else 2 user not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/segment/{segmentId}/user-batch-insert':
    put:
      tags:
        - Segments
      summary: 'Add batch user to segment'
      operationId: debb1bd792afb254fcc71d1f8157a3bd
      parameters:
        -
          name: segmentId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: "Unique user format on the partner's side in SDK user ID, case-sensitive"
                type: string
                maxLength: 255
                minLength: 1
              maxItems: 1000
              minItems: 1
      responses:
        '200':
          description: 'Users were not added to the segment, as everything is already there'
          content:
            application/json:
              schema:
                type: object
        '201':
          description: 'User insert success into segment'
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment or user not found'
        '409':
          description: 'The limit on the number of users in the segment has been exceeded'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/segment/{segmentId}/user-batch-delete':
    put:
      tags:
        - Segments
      summary: 'User batch delete from segment'
      operationId: 4e3d9b55794cbd0450b3de66fa63fc4f
      parameters:
        -
          name: segmentId
          in: path
          schema:
            description: 'Segment unique ID'
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: "Unique user format on the partner's side in SDK user ID, case-sensitive"
                type: string
                maxLength: 255
                minLength: 1
              maxItems: 1000
              minItems: 1
      responses:
        '200':
          description: 'Users were not deleted from the segment, since they are not'
        '201':
          description: 'User delete success from segment'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Segment not found'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/story/{storyId}/label/{labelId}':
    post:
      tags:
        - Stories
        - Labels
      summary: 'Attach label to story'
      operationId: a90727c01fb84016a2a722a3a0e24fb1
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: labelId
          in: path
          schema:
            description: 'Unique label integer id'
            type: number
      responses:
        '200':
          description: 'The story already has this label attached, the data has not been changed'
        '201':
          description: 'The label was successfully attached to story'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Story or label not exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Stories
        - Labels
      summary: 'Detach label from story'
      operationId: 7c024f25f53bc3372bbe3f9ea57fb363
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: labelId
          in: path
          schema:
            description: 'Unique label integer id'
            type: number
      responses:
        '200':
          description: 'The story does not have such a label, the data has not been changed'
        '201':
          description: 'The label was successfully detached from story'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Story or label not exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/story/{storyId}/tag/{tagId}':
    post:
      tags:
        - Stories
        - Tags
      summary: 'Attach tag to story'
      operationId: 621d9896852a0ac42aa440b3e4f77a90
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: tagId
          in: path
          schema:
            description: 'Unique tag string value or integer id'
            type: string
      responses:
        '200':
          description: 'The story already has this tag attached, the data has not been changed'
        '201':
          description: 'Usher tag attached'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Story or tag not exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    delete:
      tags:
        - Stories
        - Tags
      summary: 'Detach tag from story'
      operationId: 83b62e0f0e9e8a5d858b774347077e40
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: tagId
          in: path
          schema:
            description: 'Unique tag string value or integer id'
            type: string
      responses:
        '200':
          description: 'The story does not have such a tag, the data has not been changed'
        '201':
          description: 'The tag was successfully detached from story'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Story or tag not exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /tag:
    get:
      tags:
        - Tags
      summary: 'List tag'
      operationId: tag-list
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: sort
          in: query
          schema:
            description: 'Result sorting'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - tag
              - '-tag'
        -
          $ref: '#/components/parameters/TagFields'
        -
          $ref: '#/components/parameters/TagExpand'
        -
          name: groupId
          in: query
          schema:
            description: 'Filter by group ID, comma separated array'
            type: number|string
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/tag?page=2&sort=id>; rel=self, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=first, <https://api.inappstory.com/pub/v1/tag?page=7&sort=id>; rel=last, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/tag?page=3&sort=id>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
        -
          bearerAuth: []
    post:
      tags:
        - Tags
      summary: 'Create new tag'
      operationId: tag-create
      parameters:
        -
          $ref: '#/components/parameters/TagFields'
        -
          $ref: '#/components/parameters/TagExpand'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: 'This tag already exists, the data has not been changed'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '201':
          description: 'This tag created as new'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '409':
          description: Conflict
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/tag/{tagId}':
    get:
      tags:
        - Tags
      summary: 'View tag'
      operationId: tag-view
      parameters:
        -
          name: tagId
          in: path
          schema:
            description: 'Unique tag id'
            type: number
        -
          $ref: '#/components/parameters/TagFields'
        -
          $ref: '#/components/parameters/TagExpand'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
        -
          bearerAuth: []
    delete:
      tags:
        - Tags
      summary: 'Delete exists tag'
      operationId: tag-delete
      parameters:
        -
          name: tagId
          in: path
          required: true
          schema:
            description: 'Unique tag ID'
            type: string
      responses:
        '200':
          description: 'The data has not been changed, since it is already the same'
          content:
            application/json:
              schema:
                type: object
      security:
        -
          bearerPrivateAuth: []
    patch:
      tags:
        - Tags
      summary: 'Update exists tag'
      operationId: tag-update
      parameters:
        -
          name: tagId
          in: path
          required: true
          schema:
            description: 'Unique tag ID'
            type: string
        -
          $ref: '#/components/parameters/TagFields'
        -
          $ref: '#/components/parameters/TagExpand'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
      responses:
        '200':
          description: 'The data has not been changed, since it is already the same'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '201':
          description: 'Data updated'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Record with given "tagId" not exists'
        '409':
          description: 'Conflict, tag already exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  /tag-group:
    get:
      tags:
        - Tags
      summary: 'List tag groups'
      operationId: tag-group-list
      parameters:
        -
          name: envelope
          in: query
          schema:
            description: 'Name of items envelope for wrapping response or boolean value (1, yes, y or true: used `items` key'
            type: string
        -
          name: page
          in: query
          schema:
            description: 'Show page with number'
            type: number
            default: 1
            minimum: 1
        -
          name: per-page
          in: query
          schema:
            description: 'Show maximum items per page'
            type: number
            default: 20
            maximum: 50
            minimum: 1
        -
          name: sort
          in: query
          schema:
            description: 'Sort by attribute'
            type: string
            default: id
            enum:
              - id
              - '-id'
              - name
              - '-name'
        -
          $ref: '#components/parameters/TagGroupFields'
        -
          $ref: '#components/parameters/TagGroupExpand'
      responses:
        '200':
          description: 'successful operation'
          headers:
            X-Pagination-Total-Count:
              description: 'Total number of data items'
              schema:
                type: integer
            X-Pagination-Page-Count:
              description: 'Total number of pages of data'
              schema:
                type: integer
            X-Pagination-Current-Page:
              description: 'The current page number (1-based)'
              schema:
                type: integer
            X-Pagination-Per-Page:
              description: 'Number of data items in each page'
              schema:
                type: integer
            Link:
              description: 'Links for navigation'
              schema:
                type: string
                example: 'link: <https://api.inappstory.com/pub/v1/tag?page=2&sort=id>; rel=self, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=first, <https://api.inappstory.com/pub/v1/tag?page=7&sort=id>; rel=last, <https://api.inappstory.com/pub/v1/tag?page=1&sort=id>; rel=prev, <https://api.inappstory.com/pub/v1/tag?page=3&sort=id>; rel=next'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
        -
          bearerAuth: []
    post:
      tags:
        - Tags
      summary: 'Create new tag group'
      operationId: tag-group-create
      parameters:
        -
          $ref: '#components/parameters/TagGroupFields'
        -
          $ref: '#components/parameters/TagGroupExpand'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagGroup'
      responses:
        '200':
          description: 'The data has not been changed, since it is already the same'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '201':
          description: 'Data updated'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Record with given "tagID" not exists'
        '409':
          description: 'Conflict, tag already exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/tag-group/{tagGroupId}':
    get:
      tags:
        - Tags
      summary: 'View tag group'
      operationId: tag-group-view
      parameters:
        -
          name: tagGroupId
          in: path
          schema:
            description: 'Unique tag group id'
            type: number
        -
          $ref: '#components/parameters/TagGroupFields'
        -
          $ref: '#components/parameters/TagGroupExpand'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
        -
          bearerAuth: []
    patch:
      tags:
        - Tags
      summary: 'Update exists tag group'
      operationId: tag-group-update
      parameters:
        -
          name: tagGroupId
          in: path
          required: true
          schema:
            description: 'Unique tag ID'
            type: string
        -
          $ref: '#components/parameters/TagGroupFields'
        -
          $ref: '#components/parameters/TagGroupExpand'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagGroup'
      responses:
        '200':
          description: 'The data has not been changed, since it is already the same'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '201':
          description: 'Data updated'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagGroup'
        '400':
          description: 'Bad request'
        '401':
          description: 'Authorization required'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Record with given "tagID" not exists'
        '409':
          description: 'Conflict, tag already exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
  '/story/{storyId}/feed/{feedId}':
    get:
      tags:
        - Stories
        - Feeds
      summary: 'View attached feed to story'
      operationId: c367d4d5746212ed7291ba427046789d
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: feedId
          in: path
          schema:
            description: 'Unique feed slug value or integer id'
            type: string
      responses:
        '200':
          description: 'The story already has this feed attached, the data has not been changed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryFeed'
        '201':
          description: 'The feed was successfully attached to story'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryFeed'
        '401':
          description: 'Authorization required'
        '402':
          description: 'Your account has run out of funds, payment is required for further use'
        '403':
          description: 'You do not have permission to access this resource'
        '404':
          description: 'Story or feed not exists'
        '429':
          $ref: '#/components/responses/RateLimit'
      security:
        -
          bearerPrivateAuth: []
    post:
      tags:
        - Stories
        - Feeds
      summary: 'Attach feed to story'
      operationId: 4de829d04ad9fefb27c78184efda8715
      parameters:
        -
          name: storyId
          in: path
          schema:
            description: 'Unique story string or integer id'
            type: string
        -
          name: feedId
          in: path
          schema:
            description: 'Unique feed slug value or integer id'
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoryFeed'
      responses:
        '200':
          description: 'The story already has this feed attached, the data has not been changed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryFeed'
        '201':
[...]
